#catHome {
    width: 100%;
    height: 120vh;
    background: linear-gradient(7deg, rgba(207, 118, 46, 0.95) 0%, rgba(255, 195, 45, 0.562) 53%, rgba(255,255,255,0.5270483193277311) 74%, rgba(255,225,225,0) 92%, rgba(199,136,136,0) 100%);
}